<div class="container">
    <h3>Add new Table</h3>
    <p>Enter table data below:</p>

    <table class="table" data-ng-model="newTable">
        <tr>
            <td>Platform:</td>
            <td>
                <select ng-model="newTable.platform" ng-options="key for key in platforms"></select>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" class="form-control" data-ng-model="newTable.fileName">
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <input type="text" class="form-control" data-ng-model="newTable.description">
            </td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td>
                <input type="text" class="form-control" data-ng-model="newTable.manufacturer">
            </td>
        </tr>
        <tr>
            <td>Year:</td>
            <td>
                <input type="text" class="form-control" data-ng-model="newTable.year">
            </td>
        </tr>
        <tr>
            <td>Type (SS or EM):</td>
            <td>
                <select ng-model="newTable.machineType" ng-options="key for key in machineTypes"></select>
            </td>
        </tr>
    </table>
    <p>Or just paste the XML block in here:</p>
    <textarea class="form-control" rows="6" ng-change="setValues()" ng-model="textareaContent"></textarea>
    <div class="row pull-right">
        <a href="#tables" data-ng-click="addTable(newTable)"><input type="button" class="btn btn-primary btn-sm" value="Add Table"></a>
    </div>
</div>