<div class="container">

    <h3>Hyperpin Files:</h3>
    <p></p>
    <div class="row pull-right">
        <input type="button" class="btn btn-primary btn-sm" value="Add File" onclick="$('#fileUpload').click();">
        <input type="file" class="hidden" id="fileUpload" ng-file-select="onFileSelect($files)" >
    </div>
    <table class="table">
        <thead>
        <tr>
            <td>Filename</td>
        </tr>
        </thead>
        <tr data-ng-repeat="file in files.list">
            <td>
                {{file}}
            </td>
        </tr>
    </table>
    <p></p>
    <div class="row pull-right">
        <input type="button" class="btn btn-primary btn-sm" value="Add File" onclick="$('#fileUpload').click();">
    </div>
</div>