<div class="container">

    <h3>Installed ROMS:</h3>
    <input type="text" class="form-control col" placeholder="Filter" ng-model="searchTerm">
    <p></p>
    <div class="row pull-right">
        <input type="button" class="btn btn-warning btn-sm" value="Add Rom" onclick="$('#romUpload').click();">
        <input type="button" class="btn btn-primary btn-sm" value="Update Registry" data-ng-click="updateRegistry()">
        <input type="file" class="hidden" id="romUpload" ng-file-select="onFileSelect($files)" >
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Romfile</td>
                <td>DMD X</td>
                <td>DMD Y</td>
                <td>DMD width</td>
                <td>DMD height</td>
                <td>DMD compact</td>
                <td>DMD double size</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tr data-ng-repeat="rom in roms.map | filter:searchTerm">
            <td>
               {{rom.name}}
            </td>
            <td>
                <input type="text" ng-model="rom.dmdX">
            </td>
            <td>
                <input type="text" ng-model="rom.dmdY">
            </td>
            <td>
                <input type="text" ng-model="rom.dmdWidth">
            </td>
            <td>
                <input type="text" ng-model="rom.dmdHeight">
            </td>
            <td>
                <input type="checkbox" ng-model="rom.dmdCompact" ng-true-value="1" ng-false-value="0">
            </td>
            <td>
                <input type="checkbox" ng-model="rom.dmdDoubleSize" ng-true-value="1" ng-false-value="0">
            </td>
            <td>
                <input type="button" class="btn btn-primary btn-xs pull-right" value="Save" data-ng-click="updateRomSettings(rom)">
            </td>
        </tr>
    </table>
    <p></p>
    <div class="row pull-right">
        <input type="button" class="btn btn-warning btn-sm" value="Add Rom" onclick="$('#romUpload').click();">
        <input type="button" class="btn btn-primary btn-sm" value="Update Registry" data-ng-click="updateRegistry()">
    </div>
</div>