<div class="container">

    <h3>Installed ROMS:</h3>
    <div class="row">
        <input type="text" class="form-control col" placeholder="Filter" ng-model="searchTerm">
        <input type="button" class="btn btn-primary btn-sm pull-right" value="Update Registry" data-ng-click="updateRegistry()">
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Romfile</td>
            </tr>
        </thead>
        <tr data-ng-repeat="(key,value) in roms.map | orderBy:key | filter:searchTerm">
            <td>
               {{key}}
            </td>
        </tr>
    </table>
    <div class="row">
        <input type="button" class="btn btn-primary btn-sm pull-right" value="Update Registry" data-ng-click="updateRegistry()">
    </div>
</div>