<div class="container">

    <h3>Installed ROMS:</h3>
    <div class="row">
        <input type="text" class="form-control col" placeholder="Filter" ng-model="searchTerm">
        <input type="button" class="btn btn-primary btn-sm pull-right" value="Update Registry" data-ng-click="updateRegistry()">
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Romfile</td>
                <td>DMD X</td>
                <td>DMD Y</td>
                <td>DMD width</td>
                <td>DMD height</td>
                <td>DMD compact</td>
                <td>DMD double size</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tr data-ng-repeat="rom in roms.map | filter:searchTerm">
            <td>
               {{rom.name}}
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdX"></span>
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdY"></span>
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdWidth"></span>
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdHeight"></span>
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdCompact"></span>
            </td>
            <td>
                <span contenteditable="true" ng-bind="rom.dmdDoubleSize"></span>
            </td>
            <td>
                <input type="button" class="btn btn-primary btn-xs pull-right" value="Save" data-ng-click="updateRomSettings(rom)">
            </td>
        </tr>
    </table>
    <div class="row">
        <input type="button" class="btn btn-primary btn-sm pull-right" value="Update Registry" data-ng-click="updateRegistry()">
    </div>
</div>