<div class="container">
    <h3>{{selectedTable.description}}</h3>

    <p>Upload or replace media files for this table</p>
    <table class="table">
        <tr>
            <td>
                Table Script file
            </td>
            <td>
                <div ng-show="selectedTable.additionals.tableFile == 'true'">
                    <input type="button" class="btn btn-primary btn-sm" value="Replace..." onclick="$('#tablefile').click();">
                </div>
                <div ng-show="selectedTable.additionals.tableFile == 'false'">
                    <input type="button" class="btn btn-warning btn-sm" value="Upload" onclick="$('#tablefile').click();">
                </div>
                <input type="file" class="hidden" id="tablefile" file-upload table="selectedTable" mediatype="tablefile"/>
            </td>
        </tr>
        <tr>
            <td>
                Backglass Image
            </td>
            <td>
                <div ng-show="selectedTable.additionals.backglassImage == 'true'">
                    <input type="button" class="btn btn-success btn-sm" data-ng-click="displayImage(selectedTable,'backglass')"
                           value="View">
                    <input type="button" class="btn btn-primary btn-sm" onclick="$('#bgupload').click();" value="Replace...">
                </div>
                <div ng-show="selectedTable.additionals.backglassImage == 'false'">
                    <input type="button" class="btn btn-warning btn-sm" value="Upload" onclick="$('#bgupload').click();">
                </div>
                <input type="file" class="hidden" id="bgupload" file-upload table="selectedTable" mediatype="backglass"/>
            </td>
        </tr>
        <tr>
            <td>
                Table Image
            </td>
            <td>
                <div ng-show="selectedTable.additionals.tableImage == 'true'">
                <input type="button" class="btn btn-success btn-sm" data-ng-click="displayImage(selectedTable,'table')"
                       value="View">
                <input type="button" class="btn btn-primary btn-sm" value="Replace..." onclick="$('#tableupload').click();">
                </div>
                <div ng-show="selectedTable.additionals.tableImage == 'false'">
                    <input type="button" class="btn btn-warning btn-sm" value="Upload" onclick="$('#tableupload').click();">
                </div>
                <input type="file" class="hidden" id="tableupload" file-upload table="selectedTable" mediatype="table"/>
            </td>
        </tr>
        <tr>
            <td>
                Wheel Image
            </td>
            <td>
                <div ng-show="selectedTable.additionals.wheelImage == 'true'">
                    <input type="button" class="btn btn-success btn-sm" data-ng-click="displayImage(selectedTable,'wheel')"
                           value="View">
                    <input type="button" class="btn btn-primary btn-sm" value="Replace..." onclick="$('#wheelupload').click();">
                </div>
                <div ng-show="selectedTable.additionals.wheelImage == 'false'">
                    <input type="button" class="btn btn-warning btn-sm" value="Upload" onclick="$('#wheelupload').click();">
                </div>
                <input type="file" class="hidden" id="wheelupload" file-upload table="selectedTable" mediatype="wheel"/>
            </td>
        </tr>
        <tr>
            <td>
                Table Video
            </td>
            <td>
                <div ng-show="selectedTable.additionals.tableVideo == 'true'">
                    <input type="button" class="btn btn-primary btn-sm" value="Replace..." onclick="$('#videoupload').click();">
                </div>
                <div ng-show="selectedTable.additionals.tableVideo == 'false'">
                    <input type="button" class="btn btn-warning btn-sm" value="Upload" onclick="$('#videoupload').click();">
                </div>
                <input type="file" class="hidden" id="videoupload" file-upload table="selectedTable" mediatype="video"/>
            </td>
        </tr>
        <tr>
            <td>
                Install Media Pack
            </td>
            <td>
                <div>
                    <input type="button" class="btn btn-primary btn-sm" value="Upload" onclick="$('#mediaPackUpload').click();">
                    <input type="file" class="hidden" id="mediaPackUpload" ng-file-select="onFileSelect($files)" >
                </div>
            </td>
        </tr>
    </table>
</div>